body {
    background-color: rgb(244,244,244);
    text-align: center;
}

h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#banner {
  background-image: url("https://picsum.photos/1800/900/?random");
  padding: 150px;
  color: white;
}

#banner, a {
  color: white;
  text-decoration: none;
}

img {
  border-radius: 5px;
}


h2 {
  color: red;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}
